<%= form_with(model: signupform) do |form| %>
  <% if signupform.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(signupform.errors.count, "error") %> prohibited this signupform from being saved:</h2>

      <ul>
        <% signupform.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lead_magnet_id, style: "display: block" %>
    <%= form.text_field :lead_magnet_id %>
  </div>

  <div>
    <%= form.label :headline, style: "display: block" %>
    <%= form.text_field :headline %>
  </div>

  <div>
    <%= form.label :submit_button_text, style: "display: block" %>
    <%= form.text_field :submit_button_text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
