<div id="<%= dom_id lead_magnet %>">
  <p>
    <strong>User:</strong>
    <%= lead_magnet.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= lead_magnet.name %>
  </p>

  <p>
    <strong>Ai template:</strong>
    <%= lead_magnet.ai_template %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= lead_magnet.prompt %>
  </p>

</div>
